*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    font-family: Telescope, Arial, Helvetica, sans-serif;
    padding: 5px;    
}

#msgInsertProduto{
    font-family: Telescope, Arial, Helvetica, sans-serif;
    color: green;
    background: blue;
    padding: 5px;

}

body{
    background-position: center;
    
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;

}

.login-left{
    background: rgba(215, 215, 215,0.5);
    padding: 30px;
}

.login-right{
    color: white;
    background: black;
    padding: 30px;
}
.container h2{
    margin-top: 5%;
    text-align: center;
}

.form-control{
    background: transparent;
}

.listaProdutos{
   background: white;
}

.home-container{
    
    margin-top: 5%;
    text-align: center;
    padding: 30px;
    box-shadow: 2px 2px 2px 10px rgba(19, 23, 24,0.5);
}

.home-container input{
    margin-top: 2%;
   
}
.insert-produto{
    margin: 0 auto;
    padding: 100px;
    box-shadow: 5px 5px 10px 5px blue;
}

.insert-produto button{
  margin-top: 2%;
  width: 100%;
   
}
